.neumorphismButton {
  padding: 1.5em 5em;
  background: #c0c0c0;
  border: none;
  border-radius: 100vh;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.neumorphismButtonPassive {
  box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.8),
    -6px -6px 10px rgba(255, 255, 255, 0.5),
    6px 6px 8px rgba(255, 255, 255, 0.009), 6px 6px 10px rgba(0, 0, 0, 0.27);
}
.neumorphismButtonActive {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.8),
    inset -2px -2px 4px rgba(255, 255, 255, 0.5),
    inset 2px 2px 2px rgba(255, 255, 255, 0.009),
    inset 2px 2px 4px rgba(0, 0, 0, 0.27);
}
