.string {
  color: #c0c0c0;
  /* color: rgba(181, 44, 44, 0.729); */
  font-size: 50px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  text-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5),
    6px -6px 15px rgba(255, 255, 255, 0.8);
}

.string::before {
  left: 0;
  width: 100px;
  height: 100px;
  top: -100px;
  z-index: 10;
  box-shadow: inset -6px 6px 15px rgba(0, 0, 0, 0.5),
    inset 6px -6px 15px rgba(255, 255, 255, 0.8);
}
.string::after {
  left: -50px;
  width: 200px;
  height: 200px;
  top: -200px;
  box-shadow: -6px 6px 15px rgba(0, 0, 0, 0.5),
    6px -6px 15px rgba(255, 255, 255, 0.8);
}
